{
  "extends": [
    "@rocketseat/eslint-config/node",
  ],
  "plugins": [
    "simple-import-sort",
    "eslint-plugin-vitest-globals"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "no-useless-constructor": "off",
    "no-new": "off",
    "simple-import-sort/imports": "error",
  },
}